<a href="https://colab.research.google.com/github/animeshd9/eclat-implementation/blob/main/eclat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hellow')

hellow

In [ ]:
pip install pyECLAT

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyECLAT
  Downloading pyECLAT-1.0.2-py3-none-any.whl (6.3 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from pyECLAT) (1.3.5)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.8/dist-packages (from pyECLAT) (4.64.1)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.8/dist-packages (from pyECLAT) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->pyECLAT) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.15.0)
Installing collected packages: pyECLAT
Successfully installed pyECLAT-1.0.2

In [ ]:
pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)

In [ ]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
pip install plotly

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly) (8.1.0)

In [72]:
dataset = pd.read_csv(r'eclat.csv',  header = None)
dataset

   0  1    2
0  A  B  NaN
1  B  D  NaN
2  B  C  NaN
3  A  B    D
4  A  C  NaN
5  B  C  NaN
6  A  C  NaN
7  A  B    C
8  A  B    C
9  B  D  NaN

In [73]:
# importing the ECLAT module
from pyECLAT import ECLAT
# loading transactions DataFrame to ECLAT class
eclat = ECLAT(data = dataset)
# DataFrame of binary values
eclat.df_bin

   D  C  A  B
0  0  0  1  1
1  1  0  0  1
2  0  1  0  1
3  1  0  1  1
4  0  1  1  0
5  0  1  0  1
6  0  1  1  0
7  0  1  1  1
8  0  1  1  1
9  1  0  0  1

In [74]:
# count items in each column
items_total = eclat.df_bin.astype(int).sum(axis=0)
items_total

D    3
C    6
A    6
B    8
dtype: int64

In [75]:
items_per_transaction = eclat.df_bin.astype(int).sum(axis=1)
items_per_transaction

0    2
1    2
2    2
3    3
4    2
5    2
6    2
7    3
8    3
9    2
dtype: int64

In [76]:
import pandas as pd
# Loading items per column stats to the DataFrame
df = pd.DataFrame({'items': items_total.index, 'transactions': items_total.values}) 
# cloning pandas DataFrame for visualization purpose  
df_table = df.sort_values("transactions", ascending=False)
#  Top 5 most popular products/items
df_table.head(5).style.background_gradient(cmap='Blues')

In [77]:
# importing required module
import plotly.express as px
# to have a same origin
df_table["all"] = "Tree Map" 
# creating tree map using plotly
fig = px.treemap(df_table.head(50), path=['all', "items"], values='transactions',
                  color=df_table["transactions"].head(50), hover_data=['items'],
                  color_continuous_scale='Blues',
                )
# ploting the treemap
fig.show()

In [78]:
# the item shoud appear at least at 5% of transactions
min_support = 5/100
# start from transactions containing at least 2 items
min_combination = 2
# up to maximum items per transaction
max_combination = max(items_per_transaction)
rule_indices, rule_supports = eclat.fit(min_support=min_support,
                                                 min_combination=min_combination,
                                                 max_combination=max_combination,
                                                 separator=' & ',
                                                 verbose=True)

Combination 2 by 2

6it [00:00, 216.15it/s]

Combination 3 by 3

4it [00:00, 207.02it/s]

In [79]:
result = pd.DataFrame(rule_supports.items(),columns=['Item', 'Support'])
result.sort_values(by=['Support'], ascending=False)

        Item  Support
2      C & A      0.4
3      C & B      0.4
4      A & B      0.4
1      D & B      0.3
6  C & A & B      0.2
0      D & A      0.1
5  D & A & B      0.1